{% extends "layout.html" %}

{% block body %}

<h1>Disciplinas</h1>

<section class="d-flex flex-nowrap">
    <div>
        <h4>Programa&ccedil;&atilde;o Web 1</h4>
        <!-- <img src="images/htmlcssjs.png"> -->
        <p>Fundamentos das linguagens HTML, CSS e JavaScript
            necessários para o desenvolvimento <i>front-end</i> de aplicações Web.</p>
        <!-- <a href="aux/PLANO-DE-ENSINO_tec-prog-web-1.pdf">Plano de Ensino</a> - -->
        <a href="https://drive.google.com/open?id=1UQdR12y54HUcW7iQ3UbY6XpXGG4pgG4I">Apresenta&ccedil;&otilde;es</a> -
        <a href="https://www.youtube.com/playlist?list=PLDb15-rsiE-NvOdyZ3kZk9JVxRVehZVVR">V&iacute;deos</a>
    </div>
    <div>        
        <h4>Programa&ccedil;&atilde;o Web 2</h4>
        <!-- <img src="images/phpmysql.png"> -->
        <p>Fundamentos da linguagem PHP
            com o gerenciador de banco de dados MySQL
            necessários para o desenvolvimento <i>back-end</i>
            de aplicações Web.
            Conceitos de JavaScript também são revistos com o
            objetivo de criar inferfaces responsivas e aplicações
            do tipo SPA (<i>Single Page Applications</i>).
        </p>
        <!-- <a href="aux/PLANO-DE-ENSINO_tec-prog-web-2.pdf">Plano de Ensino</a> - -->
        <a href="https://drive.google.com/open?id=1LdNtPCaAMmo3JYTHAGE463IhP8Km-K7n">Apresenta&ccedil;&otilde;es</a> -
        <a href="https://www.youtube.com/watch?v=Hxo1iw-goeQ&list=PLDb15-rsiE-OsXD_MbHbzL_QC2Gx1yTY0">V&iacute;deos</a>
    </div>
    <div>
        <h4>Reconhecimento de Padrões</h4>
        <!-- <img src="images/patternrecognition.png"> -->
        <p>
            Proporcionar o entendimento das principais técnicas de reconhecimento de padrões, assim
            como suas utilizações em problemas técnico-científicos atuais.
            Conhecer diferentes classes de problemas em reconhecimento de padrões e aprendizado de
            máquina. Técnicas e métricas de validação para escolha de algoritmos com e sem ajuste.
            Implementação de algoritmos básicos. Uso de bibliotecas livres para implementação de
            métodos de aprendizado de máquina sofisticados.
        </p>
        <!-- <a href="aux/repa.pdf">Plano de Ensino</a> - -->
        <a href="https://drive.google.com/open?id=1nvg4bm6RYFWn34P2O90q4U_XLC-MIQam">Apresenta&ccedil;&otilde;es</a> - 
        <a href="https://www.youtube.com/playlist?list=PLDb15-rsiE-NNLSvQhpJjUdR0sbvubmUA">V&iacute;deos</a>
    </div>
    <div>
        <h4>Redes Neurais Artificiais</h4>
        <!-- <img src="images/neuralnetworks.png"> -->
        <p>
            Compreender o conceito de Redes Neurais Artificiais, suas aplicações e limitações. 
            Conhecer a evolução histórica das redes neurais artificiais (RNAs) na ciência e na indústria.
            Identificar situações onde as RNAs são bem aplicadas e onde existem outras técnicas com
            melhor resultado. Implementar RNAs simples e utilizar bibliotecas e <i>frameworks</i> livres para implementação de RNAs sofisticadas. 
            Avaliar adequadamente o desempenho das RNAs. Ajustar RNAs adequadamente.
        </p>
        <!-- <a href="aux/PLANO-DE-ENSINO_mes_renear.pdf">Plano de Ensino</a> - -->
        <a href="aux/renear_slides.html">Apresenta&ccedil;&otilde;es</a>
    </div>
</section>

{% endblock %}